{{- if .Config.Sections.Attributes -}}
    {{- if not .Module.AttributeGroups -}}
        {{- if not .Config.Settings.HideEmpty -}}
            {{- indent 0 "#" }} Attributes

            No attributes.
        {{- end }}
    {{ else }}
    {{- range .Module.AttributeGroups }}
        {{- indent 0 "#" }} Attributes

        | Name | Description |
        {{- if .Config.Settings.Type }} Type |{{ end }}
        {{- if .Config.Settings.Default }} Default |{{ end }}
        {{- if .Config.Settings.Required }} Required |{{ end }}
        |------|-------------|
        {{- if .Config.Settings.Type }}------|{{ end }}
        {{- if .Config.Settings.Default }}---------|{{ end }}
        {{- if .Config.Settings.Required }}:--------:|{{ end }}
        {{- range .Attributes }}
            | {{ anchorNameMarkdown "attribute" .Name }} | {{ tostring .Description | sanitizeMarkdownTbl }} |
            {{- if $.Config.Settings.Type -}}
                {{ printf " " }}{{ tostring .Type | type | sanitizeMarkdownTbl }} |
            {{- end -}}
            {{- if $.Config.Settings.Default -}}
                {{ printf " " }}{{ value .GetValue | sanitizeMarkdownTbl }} |
            {{- end -}}
            {{- if $.Config.Settings.Required -}}
                {{ printf " " }}{{ ternary .Required "yes" "no" }} |
            {{- end -}}
        {{- end }}
    {{- end }}
    {{ end }}
{{ end -}}